.map-container {
    position: relative;
    top: 40px;
    z-index: 2;
    top: 0px;
    width: 100%;
    height: 100vh;
}

// @media (max-width: 600px) {
//     .map-container {

//     }
// }
.info-window {
    visibility: hidden;
 }
 .info-window-selected {
     display: block;
     background-color: green;
 }