.container {
    max-width: 400px;
    margin: 150px auto;
    padding: 30px;
    background-color: white; 
    -webkit-box-shadow: 6px 6px 10px -4px rgba(141,142,143,0.35);
    -moz-box-shadow: 6px 6px 10px -4px rgba(141,142,143,0.35);
    box-shadow: 6px 6px 10px -4px rgba(141,142,143,0.35);
}
// .container:hover {
//     -webkit-box-shadow: 6px 6px 10px -4px rgba(141,142,143,0.35);
//     -moz-box-shadow: 6px 6px 10px -4px rgba(141,142,143,0.35);
//     box-shadow: 6px 6px 10px -4px rgba(141,142,143,0.35);
// }
