.main-page {
    width: 100vw;
    display: flex;
    overflow: hidden;
    .locations-container {
        width: 800px;
        z-index: 1;
        overflow: scroll;
        height: 100vh;
        .locations-header {
            width: 100%;
            height: 80px;
            position: fixed;
            z-index: 5;
            background-color: #1f1f1f;
            display: flex;
            align-items: center;
            // margin-bottom: 80px;
            .category {
                width: 100px;
                margin: 0px 10px;
            }
            .toggle {
                margin-left: 10px;
                label {
                    color: lightgrey;
                }
            }
        }
        .location-main {
            margin-top: 80px;
            margin-bottom: 500px;
        }
        .location {
            height: 200px;
            overflow: hidden;
            background-color: rgb(49, 53, 58);
            margin: 10px;
            padding: 10px;
            border-radius: 5px;
            .location-heading {
                color: lightgrey;
                margin: 10px;
                font-size: 20pt;
                a {
                    color: lightgrey;
                    margin-right: 10px;
                }
            }
            .location-content {
                display: flex;
                img {
                    width: 200px;
                    margin-left: 10px;
                }
                p {
                    margin: 10px;
                    color: lightgrey;
                }
            }
            
        }

    }
}


@media (max-width: 600px ) {
    .main-page {
        width: 100vw;
        //display: block;
        overflow: scroll;
        flex-direction: column;
        .locations-container {
            margin-top: 50px;
            width: 100%;
            z-index: 50;
            // overflow: scroll;
            // height: 100vh;
            .location {
                //height: 300px;
                //overflow: hidden;
                img: {
                    padding: 10px;
                    object-fit: contain;
                    
                }
            }
    
        }
    }
}

@media (min-width: 601px) {
    .main-page {
        height: 100vh;
    }
}