.navbar {
    z-index: 1200;
    background-color: #1A1A1A;
    border: none;
    #basic-navbar-nav {
        color: white;
        .nav-link {
            color: lightslategrey;
        }
        .active {
            color: turquoise;
        }
    }
}


.logged-in-user {
    text-align: right;
    position: absolute;
    right: 15px;
    top: 15px;
}