.show-location {
    display: flex;
    height: 100vh;
    .main-container {
        width: 70%;
        overflow: scroll;
        .content {
            display: flex;
            color: lightgrey;
            .image-container {
                img {
                    height: 500px;
                }
            }
            .location-info {
                margin: 20px;
            }
        }
        .photo-grid {
            display: flex;
            flex-wrap: wrap;
            img {
                width: 33%;
            }
        }
    }
    .sidebar {
        width: 30%;
        background-color: white;
    }
}

